@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --color1: #3c1548;
  --color2: #ae42ff;
  --color3: #e4e4e4;
  --color4: #f11271;
  --color5: #c16fff;
  --light: 300;
  --medium: 400;
  --heavy: 700;
}

/* Main */
* {
  text-decoration: none !important;
  border: none;
  list-style: none;
  color: var(--color3);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}
body {
  font-family: "Roboto", sans-serif;
  background: rgb(22, 0, 29);
  background: linear-gradient(
    183deg,
    rgba(22, 0, 29, 1) 0%,
    rgba(43, 0, 57, 1) 51%,
    rgba(61, 0, 82, 1) 99%
  );
  margin: 0 48px;
}

img {
  max-width: 100%;
  height: auto;
}
#mainImage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.section {
  max-width: 77.5rem;
  margin: auto;
}
hr {
  height: .0625rem;
  width: 70%;
  margin: 0 auto;
  background-color: var(--color2);
  text-align: center;
}

/* Button */
button {
  cursor: pointer;
}
.btn {
  width: 8rem;
  background-color: #fd30857d;
  box-shadow: 0 0 0rem .0625rem #f11271, 0 0 .625rem .125rem #fd3084,
    inset 0 0 0rem .0625rem #f11271, inset 0 0 .625rem .125rem #fd3084;
  border: .125rem solid #feb1de;
  color: #fff6fb;
  padding: .75rem 1.4rem;
  border-radius: .25rem;
  font-weight: var(--heavy);
  position: relative;
}
.btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f11271;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover::after {
  transform: scale(1);
}
.btn__icon {
  font-size: 1.5rem;
}
.btn:active {
  box-shadow: 0 0 0rem .0625rem #f11271, 0 0 1.5625rem .125rem #fd3084,
    inset 0 0 0rem .0625rem #f11271, inset 0 0 1.875rem .125rem #fd3084;
  transform: translateY(.0625rem);
}
/* menu panal */
.circleMenu {
  position: fixed;
  right: 9.5rem;
  bottom: 1.5rem;
  z-index: 99;
}
.menu {
  position: relative;
  margin-top: 15%;
  left: 50%;
  width: 0;
}
.toggle {
  display: none;
}
.menu-icon i {
  margin-top: 1.5rem;
}
.toggle + .menu-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -20%) scale(1);
  display: block;
  background: #fd3084;
  color: white;
  text-align: center;
  font-size: 2em;
  transition: all 0.8s;
}
.menu i {
  padding-top: 2.1rem;
  font-weight: 700;
  font-size: 2em;
}

.menu input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
}

.toggle ~ .icon {
  position: absolute;
  background-color: grey;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  text-align: center;
  padding-top: .3125rem;
}
.toggle:checked ~ .icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(4) {
  top: 16px;
  left: -104px;
  transition-delay: 0s;
  background-color: rgb(96, 13, 134);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(3) {
  top: 16px;
  left: 104px;
  transition-delay: 0.125s;
  background-color: #2b00e9;
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(2) {
  top: -80px;
  left: 48px;
  transition-delay: 0.25s;
  background-color: rgb(221, 4, 221);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(1) {
  top: -80px;
  left: -48px;
  transition-delay: 0.373s;
  background-color: rgb(3, 170, 221);
}

.menu .icon .uil {
  padding-top: 35px;
  font-weight: 700;
  font-size: 3em;
}
.icon > .uil > p {
  font-size: 16px;
}

/* NavBar */
.navbar {
  height: 4.375rem;
  width: 100%;
  padding: .625rem 0rem 0rem;
  position: relative;
  z-index: 3;
  display: flex;
}

.navbar > .logo,
.navbar > .enlaces {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0rem 1.875rem;
}
.navbar img {
  width: 2.8125rem;
}
.enlaces {
  justify-content: flex-end;
}
.enlaces__list {
  display: flex;
}
.enlaces__list li {
  padding: 0rem .625rem;
}
.enlaces__list li:hover {
  border-bottom: .1875rem solid var(--color4);
}
/* main */
#main {
  display: flex;
}
.main__container {
  width: 600px;
  height: 90vh;
  margin-top: 3.125rem;
  margin-left: 9.375rem;
  z-index: 2;
}
.main__container h1 {
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-family: "Raleway", sans-serif;
}
.main__container p {
  width: 31.25rem;
  line-height: 1.875rem;
  font-size: 1.4375rem;
  background-color: rgba(60, 21, 72, 0.4);
  border-radius: 1.25rem;
  font-weight: var(--light);
  margin: 3.125rem 0rem;
}
.myName:hover,
.logoImg:hover {
  background-color: hwb(335 19% 1% / 0.49);
  box-shadow: 0 0 0rem .0625rem #f11271, 0 0 .625rem .125rem #fd3084,
    inset 0 0 0rem .0625rem #f11271, inset 0 0 .625rem .125rem #fd3084;
  border-right: .125rem solid #feb1de;
  border-bottom: .125rem solid #feb1de;
  color: #fff6fb;
  border-radius: 8px;
}
.profile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: #fff url(../assets/fondo.webp) center center/cover no-repeat fixed;
}
.button-contact {
  width: 100%;
}
.button-contact .btn:first-child {
  margin-right: 64px;
}

/* -----=== ABOUT ===------ */
.about {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  margin: 1.875rem auto 3.125rem;
  width: 70%;
  display: flex;
}
.comillas,
.comillas2 {
  height: 5.625rem;
}
.comillas2 {
  align-self: flex-end;
}

/* -----=== SKILLS ===------ */
.section__title {
  margin-top: -1.25rem;
  text-align: center;
  font-size: 32px;
  color: var(--color5);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-gap: 3em 1em;
  margin: 5em 0 5em 1em;
  text-align: start;
}
.boxes {
  height: 6.25rem;
}
.boxes__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxes__text h2 {
  font-size: 3.125rem;
  font-weight: var(--heavy);
  padding-left: 1.5em;
}
.boxes__text p {
  font-weight: var(--light);
  margin-left: 5rem;
}
.front:hover {
  color: #f11271;
}
.backend:hover {
  color: #8d12f1;
}
.design:hover {
  color: #ea16f1;
}
/* -----------=====portfolio=====-------- */
.image {
  height: 20rem;
  border-radius: 1.25rem;
}
.proyecto__img {
  text-align: center;
}

.proyecto__img:nth-child(2),
.proyecto__img:nth-child(5) {
  border-left: .0625rem solid silver;
  border-right: .0625rem solid silver;
  padding: 0rem 1.25rem;
}
.mask__img {
  width: 128px;
  height: 24px;
  border-radius: 28.8px;
}
.text {
  margin: 16px auto;
  font-size: 17.6px;
  font-family: "raleway", Arial, sans-serif;
}
.text a{
  border-bottom:.0625rem solid #f11271;
  font-style: italic;
}

/*--------------========= Contact =========-------------- */
.contact-container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 62.5rem;
  background-color: #fff;
  border-radius: .625rem;
  box-shadow: 0 0 1.25rem .0625rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #3c1548;
  position: relative;
  border: .0625rem solid #ae42ff;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
  background-color: #3c1548;
  transform: rotate(45deg);
  top: 3.125rem;
  left: -0.8125rem;
}

form {
  padding: 36.8px 35.2px;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 11.2px;
}

.input-container {
  position: relative;
  margin: 16px 0;
}

.input {
  width: 100%;
  outline: none;
  border: .125rem solid #fafafa;
  background: none;
  padding: 9.6px 19.2px;
  color: #fff;
  font-weight: 500;
  font-size: 15.2px;
  letter-spacing: .0313rem;
  border-radius: 1.5625rem;
  transition: 0.3s;
}

textarea.input {
  padding: 12.8px 19.2px;
  min-height: 9.375rem;
  border-radius: 1.375rem;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: .9375rem;
  transform: translateY(-50%);
  padding: 0 6.4px;
  color: #fafafa;
  font-size: 14.4px;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 16px;
  transform: translateY(0);
}
.send:hover {
  background-color: #f11271;
  transition: ease-in-out all 0.3s;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 1.5625rem;
  transform: translateY(-50%);
  font-size: 12.8px;
  padding: 0 6.4px;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: .3125rem;
  background-color: #3c1548;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 1.5625rem;
  font-size: 12.8px;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 36.8px 35.2px;
  position: relative;
}

.title {
  color: #f11271;
  text-align: center;
  font-size: 24px;
}

.contact__text {
  color: #000;
  margin: 32px 0 32px 0;
  text-align: center;
  font-size: 19.2px;
}

.information {
  display: flex;
  color: #000;
  margin: 11.2px 0;
  align-items: center;
  font-size: 15.2px;
}
.information p,
.information i {
  color: #000;
  margin: .625rem;
}
.social-media {
  padding: 32px 0 0 0;
}

.social-media p {
  color: #000;
}

.social-icons {
  display: flex;
  margin-top: 8px;
}

.social-icons a {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: .3125rem;
  background: #f11271;
  color: #fff;
  text-align: center;
  line-height: 2.1875rem;
  margin-right: 8px;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
/*-------------========= footer =========---------- */
.footer p {
  font-size: 1.2rem;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .625rem 0;
}
.f__enlaces {
  letter-spacing: .3125rem;
}

/* Confirmation page */
.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
}
.container__background {
  background: url("../assets/fondo1.png") center center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.container__text {
  height: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container__text h1,
.back {
  font-weight: var(--heavy);
  font-style: italic;
  font-size: 3em;
  -webkit-text-stroke: 1px var(--color4);
}
.container__text .back {
  font-size: 25px;
  padding-top: 30px;
  border-bottom: 1px solid var(--color4);
}
.container__text p:hover,
.container__text p:active {
  transition: 0.7s;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1),
    0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de,
    0 0 100px #ff00de;
}
/* -------------========= responsiveness =========----------*/

@media (max-width: 56.25rem) {
  /*  body {
    margin: 0 5em;
  } */
  .main__container {
    margin: 3.125rem auto;
  }
  .main__container p {
    width: auto;
  }
  .about {
    width: 100%;
  }
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -4.6875rem;
    right: 4.0625rem;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -0.8125rem;
    left: initial;
    right: 4.375rem;
  }
  .text {
    margin: 16px 0 24px 0;
  }

  .social-media {
    padding: 24px 0 0 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    line-height: 1.25rem;
    padding: .625rem 0;
    text-align: center;
  }
}
@media (max-width: 43.75rem) {
  body {
    margin: .625rem;
  }
  .main__container h1 {
    font-size: 3.125rem;
    text-align: center;
  }
  .main__container p {
    width: auto;
  }
}
@media (max-width: 30.625rem) {
  body {
    margin-left: 0.5em;
  }
  .navbar > .logo,
  .navbar > .enlaces {
    width: 100%;
    margin: 0rem;
  }
  .navbar {
    padding: 0rem;
  }
  .enlaces {
    justify-content: space-around;
  }
  #main {
    margin-top: 0;
    margin-bottom: 48px;
    text-align: center;
    height: 100vh;
  }
  .main__container {
    width: auto;
    height: auto;
    margin-top: 0rem;
  }

  .main__container p {
    margin: .625rem 0;
  }
  .button-contact .btn:first-child {
    margin-right: 32px;
  }
  .circleMenu {
    position: fixed;
    right: 56px;
    bottom: 8px;
    z-index: 99;
  }
  .section__title {
    font-size: 3em;
    font-weight: var(--heavy);
  }
  .enlaces__list li {
    padding: 0rem .5rem;
  }
  .about {
    flex-direction: column;
  }
  .comillas,
  .comillas2 {
    margin: auto;
    width: auto;
  }
  .proyecto {
    margin-top: 2.5rem;
  }
  .grid {
    margin-left: 0rem;
    grid-gap: 16px;
  }

  .mask ul li {
    margin-top: 1em;
  }
  .boxes__text h2 {
    padding-left: 0em;
    text-align: center;
  }
  .boxes__text p {
    margin-left: 0rem;
    text-align: center;
  }
  .contact-container {
    padding: 24px 0;
  }

  form,
  .contact-info {
    padding: 27.2px 25.6px;
  }
  .text,
  .information,
  .social-media p {
    font-size: 12.8px;
  }
  .title {
    font-size: 18.4px;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(3) {
    top: -80px;
    left: -104px;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(2) {
    top: -176px;
    left: -104px;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(1) {
    top: -272px;
    left: -104px;
  }
  .social-icons a {
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
  }
  .input {
    padding: 7.2px 19.2px;
  }
  .btn {
    padding: 7.2px 19.2px;
  }
}
@media (max-width: 21.875rem) {
  .button-contact .btn:first-child {
    margin-right: 0rem;
  }
}
