@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --color1: #3c1548;
  --color2: #ae42ff;
  --color3: #e4e4e4;
  --color4: #f11271;
  --color5: #c16fff;
  --light: 300;
  --medium: 400;
  --heavy: 700;
}

/* Main */
* {
  text-decoration: none !important;
  border: none;
  list-style: none;
  color: var(--color3);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}
body {
  font-family: "Roboto", sans-serif;
  background: rgb(22, 0, 29);
  background: linear-gradient(
    183deg,
    rgba(22, 0, 29, 1) 0%,
    rgba(43, 0, 57, 1) 51%,
    rgba(61, 0, 82, 1) 99%
  );
  margin: 0 3rem;
}

img {
  max-width: 100%;
  height: auto;
}
#mainImage {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.section {
  max-width: 1240px;
  margin: auto;
}
hr {
  height: 1px;
  width: 70%;
  margin: 0 auto;
  background-color: var(--color2);
  text-align: center;
}

/* Button */
button {
  cursor: pointer;
}
.btn {
  width: 8rem;
  background-color: #fd30857d;
  box-shadow: 0 0 0px 1px #f11271, 0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 10px 2px #fd3084;
  border: 2px solid #feb1de;
  color: #fff6fb;
  padding: 0.75rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: var(--heavy);
  position: relative;
}
.btn::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f11271;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.25rem;
  transition: 0.3s;
}

.btn:hover::after {
  transform: scale(1);
}
.btn__icon {
  font-size: 1.5rem;
}
.btn:active {
  box-shadow: 0 0 0px 1px #f11271, 0 0 25px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 30px 2px #fd3084;
  transform: translateY(1px);
}
/* menu panal */
.circleMenu {
  position: fixed;
  right: 9.5rem;
  bottom: 1.5rem;
  z-index: 99;
}
.menu {
  position: relative;
  margin-top: 15%;
  left: 50%;
  width: 0;
}
.toggle {
  display: none;
}
.menu-icon i {
  margin-top: 1.5625rem;
}
.toggle + .menu-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -20%) scale(1);
  display: block;
  background: #fd3084;
  color: white;
  text-align: center;
  font-size: 2em;
  transition: all 0.8s;
}
.menu i {
  padding-top: 2.1875rem;
  font-weight: 700;
  font-size: 2em;
}

.menu input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
}

.toggle ~ .icon {
  position: absolute;
  background-color: grey;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  text-align: center;
  padding-top: 5px;
}
.toggle:checked ~ .icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(4) {
  top: 1rem;
  left: -6.5rem;
  transition-delay: 0s;
  background-color: rgb(96, 13, 134);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(3) {
  top: 1rem;
  left: 6.5rem;
  transition-delay: 0.125s;
  background-color: #2b00e9;
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(2) {
  top: -5rem;
  left: 3rem;
  transition-delay: 0.25s;
  background-color: rgb(221, 4, 221);
}
.menu > .toggle:checked ~ .icon:nth-last-of-type(1) {
  top: -5rem;
  left: -3rem;
  transition-delay: 0.373s;
  background-color: rgb(3, 170, 221);
}

.menu .icon .uil {
  padding-top: 2.1875rem;
  font-weight: 700;
  font-size: 3em;
}
.icon > .uil > p {
  font-size: 1rem;
}

/* NavBar */
.navbar {
  height: 70px;
  width: 100%;
  padding: 10px 0px 0px;
  position: relative;
  z-index: 3;
  display: flex;
}

.navbar > .logo,
.navbar > .enlaces {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0px 30px;
}
.navbar img {
  width: 45px;
}
.enlaces {
  justify-content: flex-end;
}
.enlaces__list {
  display: flex;
}
.enlaces__list li {
  padding: 0px 10px;
}
.enlaces__list li:hover {
  border-bottom: 1px solid #fd3084;
}
/* main */
#main {
  display: flex;
}
.main__container {
  width: 37.5rem;
  height: 90vh;
  margin-top: 50px;
  margin-left: 150px;
  z-index: 2;
}
.main__container h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Raleway", sans-serif;
}
.main__container p {
  width: 500px;
  line-height: 30px;
  font-size: 23px;
  background-color: rgba(60, 21, 72, 0.4);
  border-radius: 20px;
  font-weight: var(--light);
  margin: 50px 0px;
}
.myName:hover,
.logoImg:hover {
  background-color: hwb(335 19% 1% / 0.49);
  box-shadow: 0 0 0px 1px #f11271, 0 0 10px 2px #fd3084,
    inset 0 0 0px 1px #f11271, inset 0 0 10px 2px #fd3084;
  border-right: 2px solid #feb1de;
  border-bottom: 2px solid #feb1de;
  color: #fff6fb;
  border-radius: 0.5rem;
}
.profile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background: #fff url(../assets/fondo.webp) center center/cover no-repeat fixed;
}
.button-contact {
  width: 100%;
}
.button-contact .btn:first-child {
  margin-right: 4rem;
}

/* -----=== ABOUT ===------ */
.about {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;
  margin: 30px auto 50px;
  width: 70%;
  display: flex;
}
.comillas,
.comillas2 {
  height: 90px;
}
.comillas2 {
  align-self: flex-end;
}

/* -----=== SKILLS ===------ */
.section__title {
  margin-top: -20px;
  text-align: center;
  font-size: 2rem;
  color: var(--color5);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em 1em;
  margin: 5em 0 5em 1em;
  text-align: start;
}
.boxes {
  height: 100px;
}
.boxes__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxes__text h2 {
  font-size: 50px;
  font-weight: var(--heavy);
  padding-left: 1.5em;
}
.boxes__text p {
  font-weight: var(--light);
  margin-left: 80px;
}
.front:hover {
  color: #f11271;
}
.backend:hover {
  color: #8d12f1;
}
.design:hover {
  color: #ea16f1;
}
/* portfolio */
.proyecto__img {
  position: relative;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
}
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(22, 0, 29);
  background: linear-gradient(
    183deg,
    rgba(22, 0, 29, 1) 0%,
    rgba(21, 0, 110, 1) 51%,
    rgba(148, 0, 199, 1) 99%
  );
}

.proyecto__img:hover .mask {
  opacity: 1;
}

.mask h2 {
  margin-top: 1em;
  font-size: 2em;
  font-weight: var(--heavy);
  text-align: center;
  border-bottom: 1px solid;
  font-style: italic;
  margin-bottom: 1.5em;
}
.mask h2:hover,
.mask h2:hover a {
  color: var(--color4);
}
.mask ul li {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 2rem;
}

/*--------------========= Contact =========-------------- */
.contact-container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #3c1548;
  position: relative;
  border: 1px solid #ae42ff;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #3c1548;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}
.send:hover {
  background-color: #f11271;
  transition: ease-in-out all 0.3s;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #3c1548;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.title {
  color: #f11271;
}

.text {
  color: #000;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #000;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
.information p,
.information i {
  color: #000;
  margin: 10px;
}
.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #000;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #f11271;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
/*-------------========= footer =========---------- */
.footer p {
  font-size: 1.2rem;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.f__enlaces {
  letter-spacing: 5px;
}

/* Confirmation page */
.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
}
.container__background {
  background: url("../assets/fondo1.png") center center/contain no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.container__text {
  height: auto;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container__text h1,
.back {
  font-weight: var(--heavy);
  font-style: italic;
  font-size: 3em;
  -webkit-text-stroke: 0.0625rem var(--color4);
}
.container__text .back {
  font-size: 1.5625rem;
  padding-top: 1.875rem;
  border-bottom: 0.0625rem solid var(--color4);
}
.container__text p:hover,
.container__text p:active {
  transition: 0.7s;
  text-shadow: 0 0 0.625rem rgba(255, 255, 255, 1),
    0 0 1.25rem rgba(255, 255, 255, 1), 0 0 1.875rem rgba(255, 255, 255, 1),
    0 0 2.5rem #ff00de, 0 0 4.375rem #ff00de, 0 0 5rem #ff00de,
    0 0 6.25rem #ff00de;
}
/* -------------========= responsiveness =========----------*/

@media (max-width: 900px) {
  /*  body {
    margin: 0 5em;
  } */
  .main__container {
    margin: 50px auto;
  }
  .main__container p {
    width: auto;
  }
  .about {
    width: 100%;
  }
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
  }
}
@media (max-width: 700px) {
  body {
    margin: 10px;
  }
  .main__container h1 {
    font-size: 50px;
    text-align: center;
  }
  .main__container p {
    width: auto;
  }
}
@media (max-width: 480px) {
  body {
    margin-left: 0.5em;
  }
  .navbar > .logo,
  .navbar > .enlaces {
    width: 100%;
    margin: 0px;
  }
  .navbar {
    padding: 0px;
  }
  .enlaces {
    justify-content: space-around;
  }
  #main {
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
  .main__container {
    width: auto;
    height: auto;
    margin-top: 0px;
  }

  .main__container p {
    margin: 10px 0;
  }
  .button-contact .btn:first-child {
    margin-right: 0px;
  }
  .circleMenu {
    position: fixed;
    right: 3.5rem;
    bottom: 0.5rem;
    z-index: 99;
  }
  .section__title {
    font-size: 3em;
    font-weight: var(--heavy);
  }
  .enlaces__list li {
    padding: 0px 8px;
  }
  .about {
    flex-direction: column;
  }
  .comillas,
  .comillas2 {
    margin: auto;
    width: auto;
  }
  .proyecto {
    margin-top: 40px;
  }
  .grid {
    margin-left: 0px;
    grid-gap: 1rem;
  }

  .mask ul li {
    margin-top: 1em;
  }
  .boxes__text h2 {
    padding-left: 0em;
    text-align: center;
  }
  .boxes__text p {
    margin-left: 0px;
    text-align: center;
  }
  .contact-container {
    padding: 1.5rem 0;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }
  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.15rem;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(3) {
    top: -5rem;
    left: -6.5rem;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(2) {
    top: -11rem;
    left: -6.5rem;
  }
  .menu > .toggle:checked ~ .icon:nth-last-of-type(1) {
    top: -17rem;
    left: -6.5rem;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .input {
    padding: 0.45rem 1.2rem;
  }
  .btn {
    padding: 0.45rem 1.2rem;
  }
}
